<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_url 'ties.jpg' %>');">
  <div class="container">
    <h1>The first platform where you can rent your tie !</h1>
    <p>Change your life and rent the tie you like.</p>
    <div class="search-bar">
      <form class="form-inline my-2 my-lg-0" action="/ties">
        <input class="form-control mr-sm-2" type="search" name="query" value="<%= params[:query] %>" placeholder="Search a tie" aria-label="Search">
        <button class="btn btn-success my-2 my-sm-0 text-white" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>

<div class="container pt-5">
  <h3 class="text-center"><cite>" Let's rent a tie for all moments you need to be like a king "</cite></h3>
  <br>
  <hr>
  <br>
  <h5 class="text-center">Last ties inserted to rent...</h5>
  <div class="row justify-content-sm-center">
      <% @ties.each do |tie| %>
        <div class="col-sm-3">
          <div class="card-trip">
            <%= cl_image_tag(tie.picture.key, width: 400, height: 300, crop: :fill ) %>
            <!-- <img src="https://res.cloudinary.com/dor6vw0ll/image/upload/v1614120461/ties/tie-in-silk-twill_1_izodvv.jpg/> -->
            <div class="card-trip-infos">
              <div>
                <h2><%=tie.name%></h2>
                <p><%= tie.description %></p>
              </div>
              <h2 class="card-trip-pricing"><%= tie.price_per_day %>$/day</h2>
              <%= cl_image_tag tie.user.profile_image.key, class:"card-trip-user avatar-bordered" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>

</div>


