<!-- index.html.erb -->

<div class="container pt-5">
  <h1>Ties Presentation</h1>
  <div class="row mt-5">

    <% @ties.each do |tie| %>
    <div class="col-sm-3">
      <div class="card-trip">
        <%= cl_image_tag(tie.picture.key, width: 400, height: 300, crop: :fill ) %>
        <!-- <img src="https://res.cloudinary.com/dor6vw0ll/image/upload/v1614120461/ties/tie-in-silk-twill_1_izodvv.jpg/> -->
        <div class="card-trip-infos">
          <div>
            <h2><%=tie.name%></h2>
            <p><%= tie.description %></p>
          </div>
          <h2 class="card-trip-pricing"><%= tie.price_per_day %>$/day</h2>
          <%= cl_image_tag tie.user.profile_image.key, class:"card-trip-user avatar-bordered" %>
        </div>
      </div>
    </div>
    <% end %>

  </div>
</div>

