<!-- index.html.erb -->

<div class="container pt-5">
  <h1>Ties Presentation</h1>
  <div class="row mt-5">

    <% @ties.each do |tie| %>
    <div class="col-sm-4">
      <div class="card-trip">
        <%= link_to tie do%>
          <%= cl_image_tag(tie.picture.key, height: 250) %>
        <%end%>
        <div class="card-trip-infos">
          <div>
            <h2><%= tie.name %></h2>
            <p><%= tie.description.truncate(25, separator: ' ') %></p>
          </div>

          <h2>$<%= tie.price_per_day %> /day</h2>

           <%= cl_image_tag tie.user.profile_image.key, class:"card-trip-user avatar-square" %>

        </div>
      </div>
    </div>
    <% end %>

  </div>
</div>

