<div class="container pt-5 col-md-6">
  <div>
    <div class="card-trip card-trip-show">
      <%= cl_image_tag(@tie.picture.key) %>
      <div class="card-trip-infos big-card">
        <div>
          <h2><%= @tie.name %></h2>
          <p><%= @tie.description %></p>
        </div>
        <h2 class="card-pricing">$<%= @tie.price_per_day %> /day</h2>
        <%= cl_image_tag @tie.user.profile_image.key, class:"card-trip-user avatar-bordered avatar-extra-large" %>
      </div>
    </div>
  </div>
  <div>
    <%= link_to 'Back', :back %>
  </div>
</div>
